{% extends 'todo/base.html' %}

{% block content %}
<br>
<br>

{% if not user.is_authenticated %}

<h1 class="display-5">Sign Up or Log in to get started!</h1>


{% elif user.username == "andres" %}
<h1 class="display-5">Welcome {{user.username|upper}}! Lets get to work!</h1>
<br><br>
<div class="text-center">
<a role="button" class="btn btn-dark" href="{% url 'toOrderList' %}">View Pending Requests</a>
<br>
<br>
<a role="button" class="btn btn-primary" href="{% url 'orderedList' %}">View Purchase History</a>

</div>

{% elif user.username == "megan" %}
<h1 class="display-5">Welcome {{user.username|upper}}! Lets get to work!</h1>
<br><br>
<div class="text-center">
<a role="button" class="btn btn-dark" href="{% url 'billingList' %}">View Pending Billings Requests</a>

</div>

{% else %}

<h1 class="display-5">Welcome {{user.username|upper}}! What can we get done for you today?</h1>
<br>
<br>
<div class="text-center">
<a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">New Order Request</a>

</div>

{% endif %}

{% endblock content %}