{% extends 'todo/base.html' %}


{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Order Request for {{todo.part }}</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}

            {{errors}}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action="{% url 'reviserequest' todo.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="part">Part #:</label>
                    <input type="text" value ="{{todo.part}}" name="part" class="form-control" id="part" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description" class="form-control" id="description" required>{{todo.description}}</textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="qty">Quantity:</label>
                    <input type="number" name="qty" class="form-control" id="qty" value ="{{todo.qty}}" required></input>
                </div>
                <br>
                <div class="form-group">
                    <label for="vendor">Vendor:</label>
                    <textarea name="vendor" class="form-control" id="vendor" required>{{todo.vendor}}</textarea>
                </div>
                <br>
                <div class="form-group form-check">
                    <label class="form-check-label" for="toapprove">Needs Approval</label>
                    <input type="checkbox" name="toapprove" class="form-check-input" id="toapprove" {% if todo.toapprove %}checked{% endif %}>
                    
                </div>            
                <br>
                <div class="form-group form-check">
                    <label class="form-check-label" for="tobill">Needs Billed to Customer (Sales/Work order must be entered if checked)</label>
                    <input type="checkbox" name="tobill" class="form-check-input" id="tobill" {% if todo.tobill %}checked{% endif %}>
                    
                </div>      
                <div class="form-group form-check">
                    <label class="form-check-label" for="rush">Rush</label>
                    <input type="checkbox" name="rush" class="form-check-input" id="rush" {% if todo.rush %}checked{% endif %}>
                    
                </div>
                <br>
                <div class="form-group">
                    <label for="duedate">Need by:</label>
                    <input type="date" name="duedate" class="form-control" id="duedate"  required><br><b>Current Value:</b> {{todo.duedate}}</input>
                </div>
                <br>
                <div class="form-group">
                    <label for="refnum">Reference:</label>
                    <textarea name="refnum" class="form-control" id="refnum" required >{{todo.refnum}}</textarea>
                </div>
                
                <br>
                {% if todo.datecompleted is None and user.username|stringformat:"i" == todo.user|stringformat:"i" %}

                <div class="row justify-content-center mt-5">
               
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning" >Save Changes</button>
                
                {% endif %}
            </div>
        </form>
            
               
              
                <!--<button type="button" class="btn btn-success" onclick="$('#complete').click()">Ordered</button>
                <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Delete Request</button> -->
         
        
    </div>
    <!-- {% if todo.datecompleted is None and user.username|stringformat:"i" == todo.user|stringformat:"i" %}

    <div class="row justify-content-center mt-5">
    <form class="text-center" method="POST" action="{% url 'reviserequest' todo.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning" >Save Changes</button>
    </form> -->
    
    
    <!-- <form class="text-center" method="POST" action="{% url 'completetodo' todo.id %}">

        {% csrf_token %}
    
     <button class="btn btn-success" type='submit'>Ordered</button> -->
     
     <div class="row justify-content-center mt-5">
     <form class="text-center" method="POST" action="{% url 'deletetodo' todo.id %}">
    
        {% csrf_token %}
    
     <button class="btn btn-danger" style="max-width: 30rem;" type='submit'>Delete Request</button>
         
    </form>
    </div>
    <br>
    <br>
    {% else %}

    <div class="text-center"><b>Ordered on:  </b>{{todo.datecompleted|date:'M j Y H:i'}}</div>

    {% endif %}
    
{% endblock content %}